<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list lines="full">
    <ion-item>
      <ion-input class="ion-margin-start" required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="ion-margin-start" required type="text" placeholder="Description" [(ngModel)]="todo.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-datetime max="2050" placeholder="Select Date" [(ngModel)]="todo.date"></ion-datetime>
    </ion-item>
  </ion-list>
  <div>
    <ion-button color="success" size="medium" type="button" expand="block" (click)="saveTodo()">Save</ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" routerLink="/home" routerDirection="forward">
      <ion-icon name="md-arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>